@import "lib/normalize";

// variables
$color-primary: #3392c4; // blue
$color-secondary: #3ac2a0; // green
$color-background: #f7f7f7;
$color-border: darken($color-background, 10%);
$color-contrast: #52557e;

$breakpoint-tablet: 800px;

// animations
@import "animations";

// helpers
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


// content
body {
    color: #333;
    background-color: $color-background;
    font-family: "Avenir Next", "Proxima Nova", "helvetica neue", helvetica, sans-serif;
    line-height: 1.66;
    font-size: 14px;
    min-height: 100%;
    &.loading {
        height: 100%;
        overflow: hidden;
    }
}

a {
    text-decoration: none;
    color: $color-secondary;
    outline: 0;
    &:active {
        position: relative;
        top: 1px;
    }
    &:hover {
        color: $color-primary;
    }
}

ul {
    list-style-type: square;
}

p:last-child {
    margin-bottom: 0;
}

.cover {
    background-color: $color-primary;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    min-height: 100%;
    overflow: hidden;
    background: linear-gradient(to right, darken($color-primary, 7.5%), lighten($color-primary, 7.5%));
}

    .intro-feature {
        @extend .slide-left;
        top: 48%;
        left: 100%;
        position: absolute;
        path {
            fill: #fff;
        }
    }

.top-decoration {
    background: url('../img/top-lines.png') top left no-repeat fixed, linear-gradient(to right, $color-primary 50%, $color-background 50%);
    height: 430px;
    @media (max-width: $breakpoint-tablet) {
        background: url('../img/top-lines.png') top center no-repeat, $color-primary;
    }
}

.main {
    @extend .cf;
    margin-top: -430px;
}

.container {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    .post-template & {
        width: 1060px;
    }
}

.home-template {
    .logo {
        display: none;
    }
}

    .logo {
        z-index: 1000;
        position: fixed;
        top: 25px;
        left: 25px;
        @extend .float;
        text-shadow: 0 1px 1px #136996;
    }

.col {
    width: 50%;
    @media (max-width: $breakpoint-tablet) {
        width: 100%;
    }
}

.col-primary {
    float: left;
}

.col-secondary {
    float: right;
    border-right: solid 1px $color-border;
}

.header {
    text-align: center;
    padding-top: 45px;
    height: 430px;
}

    .header-intro {
        color: #fff;
        max-width: 75%;
        margin: 0 auto;
        font-size: 18px;
        padding: 23px 0 28px;
        text-shadow: 0 1px 1px opacify(#136996, 0.4);
        p {
            margin: 0;
        }
        @media (max-width: $breakpoint-tablet) {
            font-size: 15px;
        }
    }

    .list-social {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 5px;
            a:hover {
                img {
                    transform: scale(1.15) rotate(9deg);
                }
            }
            img {
                -webkit-filter: drop-shadow(0 1px 1px darken($color-primary, 7.5%));
                filter: drop-shadow(0 1px 1px darken($color-primary, 7.5%));
                transition: all 0.1s ease-out;
            }
        }
    }




.box {
    @extend .cf;
    padding: 25px;
    background-color: #fff;
    border-bottom: solid 1px $color-border;
    border-left: solid 1px $color-border;
}

    .title {
        font-size: 14px;
        color: $color-primary;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        margin: 0 0 15px 0;
    }

        .title-icon {
            margin-right: 4px;
            position: relative;
            top: 5px;
        }

    .box-inner {
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .box-gallery {
        font-size: 0;
    }

        .box-gallery-item {
            text-align: center;
            display: inline-block;
            width: 50%;
            vertical-align: top;
            padding: 10px 0;
            a {
                color: #333;
                &:hover {
                    .box-gallery-item-title {
                        color: $color-secondary;
                    }
                }
            }
        }

            .box-gallery-item-title {
                margin: 0;
                font-size: 16px;
            }

            .box-gallery-item-preview {
                margin: 0;
                font-size: 13px;
                font-style: italic;
                padding: 0 5px;
            }

.work-logo {
    float: left;
    margin: 5px 15px 15px 5px;
}



.post-preview {

}

    .post-preview-timestamp {
        color: #adadad;
        font-size: 12px;
        margin-bottom: 3px;
        display: block;
    }

    .post-preview-title {
        line-height: 1.3;
        font-weight: 600;
        font-size: 20px;
        margin: 0;
    }

    .post-preview-more {
        opacity: 0;
        transition: opacity 0.2s linear, margin 0.2s linear;
        margin-left: -10px;
        .post-preview:hover & {
            opacity: 1;
            transform: translateX(0);
            margin-left: 0;
        }
    }

.dribbble-wrap {
    margin-top: 60px;
}

.dribbble-shots {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .shot-wrap {
        width: 20vw;
        height: 15vw;
        display: inline-block;
        vertical-align: top;
        background-size: cover;
        background-position: center center;
        transition: all 0.3s linear;
        padding: 2px 0 0 7px;
        border: solid 5px #fff;
        @media (max-width: 767px) {
            width: 50vw;
            height: 35vw;
        }

        &:hover {
            transform: scale(1.1);
            a {
                opacity: 1;
            }
        }
        a {
            display: block;
            height: 100%;
            width: 100%;
            color: #fff;
            font-size: 12px;
            opacity: 0;
            transition: all 0.3s linear;
        }
    }


.footer {
    @extend .cf;
    text-align: center;
    padding: 35px 0;
    box-shadow: inset 0 0 5px 5px darken($color-contrast, 5%);
    background: url('../img/bottom-lines.png') center center repeat-x $color-contrast;
}

    .footer-icon {
        @extend .float;
    }

.gist {
    margin: 40px 0;
}

/* Every post, on every page, gets this style on its <article> tag */
.post {
    position: relative;
    width: 90%;
    max-width: 880px;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: #EBF2F6 1px solid;
    word-break: break-word;
    hyphens: auto;
    min-height: 1000px;
}

/* Add a little circle in the middle of the border-bottom on our .post
   just for the lolz and stylepoints. */
.post:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #FFF;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
}

body:not(.post-template) .post-title {
    font-size: 3.6rem;
}

.post-title {
    margin-top: 0;
    font-size: 3rem;
    line-height: 1.3;
    @media (max-width: 767px) {
        font-size: 2rem;
    }
}

.post-title a {
    text-decoration: none;
}

.post-excerpt p {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.7em;
}

.read-more {
    text-decoration: none;
}

.post-meta {
    display: block;
    margin: 1.75rem 0 0 0;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #9EABB3;
}

.author-thumb {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 9px;
    border-radius: 100%;
}

.post-meta a {
    color: #9EABB3;
    text-decoration: none;
}

.post-meta a:hover {
    text-decoration: underline;
}

.user-meta {
    position: relative;
    padding: 0.3rem 40px 0 100px;
    min-height: 77px;
}

.post-date {
    display: inline-block;
    margin-left: 8px;
    padding-left: 12px;
    border-left: #d5dbde 1px solid;
    text-transform: uppercase;
    font-size: 0.9rem;
    white-space: nowrap;
}

.user-image {
    position: absolute;
    top: 0;
    left: 0;
}

.user-name {
    display: block;
    font-weight: 700;
}

.user-bio {
    display: block;
    max-width: 440px;
    font-size: 1.4rem;
    line-height: 1.5em;
}

.publish-meta {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4.3rem 0 4rem 0;
    text-align: right;
}

.publish-heading {
    display: block;
    font-weight: 700;
}

.publish-date {
    display: block;
    font-size: 1.4rem;
    line-height: 1.5em;
}


/* ==========================================================================
   5. Single Post - When you click on an individual post
   ========================================================================== */



.post-template .post-header {
   margin-bottom: 3.4rem;
   margin-top: 50px;
}

.post-template .post-title {
    margin-bottom: 0;
}

.post-template .post-meta {
    margin: 0;
}

.post-template .post-date {
    padding: 0;
    margin: 0;
    border: none;
}

.post-template .content {
    overflow: hidden;
    background-color: #fff;
}

.post-template .post {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
}


.post-template .post:after {
    display: none;
}

.post-content {
    font-size: 1.1rem;
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.7rem;
    }
    p {
        margin: 2.2rem;
        @media (max-width: 767px) {
            font-size: 1rem;
        }
    }
}

.post-content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0.6em 0;
}

.post-content .full-img {
    width: 126%;
    max-width: none;
    margin: 0 -13%;
}

.post-footer {
    position: relative;
    margin: 6rem 0 0 0;
    padding: 6rem 0 0 0;
    border-top: #EBF2F6 1px solid;
}

.post-footer h4 {
    font-size: 1.8rem;
    margin: 0;
}

.post-footer p {
    margin: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.75em;
}

.author-meta {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.4rem;
    line-height: 1;
    font-style: italic;
    color: #9EABB3;
}

.author-meta a {
    color: #9EABB3;
}
.author-meta a:hover {
    color: #111;
}

.post-footer .author {
    margin-right: 180px;
}

.post-footer h4 a {
    color: #2e2e2e;
    text-decoration: none;
}

.post-footer h4 a:hover {
    text-decoration: underline;
}

.post-footer .share {
    position: absolute;
    top: 6rem;
    right: 0;
    width: 140px;
}

.post-footer .share a {
    font-size: 1.8rem;
    display: inline-block;
    margin: 1rem 1.6rem 1.6rem 0;
    color: #BBC7CC;
    text-decoration: none;
}

.post-footer .share a:hover {
    color: #50585D;
}

.subscribe {
    width: 28px;
    height: 28px;
    position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -15px;
    border: #EBF2F6 1px solid;
    text-align: center;
    line-height: 2.4rem;
    border-radius: 50px;
    background: #FFF;
    transition: box-shadow 0.5s;
}

.subscribe:before {
    color: #D2DEE3;
    font-size: 10px;
    position: absolute;
    top: 2px;
    left: 9px;
    font-weight: 700;
    transition: color 0.5s ease;
}

.subscribe:hover {
    box-shadow: rgba(0,0,0,0.05) 0 0 0 3px;
    transition: box-shadow 0.25s;
}

.subscribe:hover:before {
    color: #50585D;
}

.tooltip {
    opacity: 0;
    display: block;
    width: 53px;
    padding: 4px 8px 5px 8px;
    position:absolute;
    top: -23px;
    left: -21px;
    color: rgba(255,255,255,0.9);
    font-size: 1.1rem;
    line-height: 1em;
    text-align: center;
    background: #50585D;
    border-radius: 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease, top 0.3s ease;
}

.tooltip:after {
    content: " ";
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #50585D transparent;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    z-index: 220;
    width: 0;
}

.subscribe:hover .tooltip {
    opacity: 1;
    top: -33px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: #EFEFEF 1px solid;
    margin: 2.2em auto;
    padding: 0;
    max-width: 70%;
}

blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.75em 0 1.75em -2.2em;
    padding: 0 0 0 1.75em;
    border-left: #4A4A4A 0.4em solid;
}

blockquote p {
    margin: 0.8em 0;
    font-style: italic;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    color: #CCC;
}

blockquote small:before { content: "\2014 \00A0"; }

blockquote cite {
    font-weight: 700;
}

blockquote cite a { font-weight: normal; }

mark {
    background-color: #FFC336;
}

code, tt {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    border: #E3EDF3 1px solid;
    background: #F7FAFB;
    border-radius: 2px;
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 1.75em 0;
    border: #E3EDF3 1px solid;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #F7FAFB;
    border-radius: 3px;
}

pre code, tt {
    font-size: inherit;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}

kbd {
    display: inline-block;
    margin-bottom: 0.4em;
    padding: 1px 8px;
    border: #CCC 1px solid;
    color: #666;
    text-shadow: #FFF 0 1px 0;
    font-size: 0.9em;
    font-weight: 700;
    background: #F4F4F4;
    border-radius: 4px;
    box-shadow:
        0 1px 0 rgba(0, 0, 0, 0.2),
        0 1px 0 0 #fff inset;
}
